In [1]:
import numpy as np
import pandas as pd

In [2]:
# Importing csv files and assigning their df. 

school_data = pd.read_csv('Public_Schools_by_Zipcode.csv')  
housing_values = pd.read_csv('Zipcode_HousingValue_Zillow.csv')

<h1>School Data DF</h1>

In [3]:
# Checking school DF 
school_data

,X,Y,OBJECTID,NCESID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,VAL_METHOD,VAL_DATE,WEBSITE,LEVEL_,ENROLLMENT,ST_GRADE,END_GRADE,DISTRICTID,FT_TEACHER,SHELTER_ID
0,-9.844095e+06,5230976.133,1,1.703300e+11,ALDEN-HEBRON HIGH SCHOOL,9604 ILLINOIS ST,HEBRON,IL,60034,9618,...,IMAGERY/OTHER,2010/08/27 00:00:00+00,NOT AVAILABLE,HIGH,95,9,12,1703300,11,NOT AVAILABLE
1,-9.007027e+06,4195441.532,2,3.702970e+11,WESTERLY HILLS ACADEMY,4420 DENVER AVE,CHARLOTTE,NC,28208,3699,...,IMAGERY/OTHER,2016/08/22 00:00:00+00,http://schools.cms.k12.nc.us/westerlyhillsES,ELEMENTARY,491,PK,5,3702970,29,NOT AVAILABLE
2,-9.580426e+06,4792069.206,3,1.803690e+11,NORTHWOOD ELEMENTARY SCHOOL,965 GRIZZLY CUB DR,FRANKLIN,IN,46131,1364,...,IMAGERY/OTHER,2010/08/02 00:00:00+00,NOT AVAILABLE,ELEMENTARY,480,PK,4,1803690,25,NOT AVAILABLE
3,-1.243297e+07,3927587.870,4,4.018700e+10,DR. GARY AND ANNETTE AUXIER ELEMENTARY SCHOOL,22700 S POWER RD,QUEEN CREEK,AZ,85142,4507,...,IMAGERY/OTHER,2018/10/24 00:00:00+00,NOT AVAILABLE,ELEMENTARY,953,PK,6,401870,53,NOT AVAILABLE
4,-1.243258e+07,3924830.599,5,4.018700e+10,DR. CAMILLE CASTEEL HIGH SCHOOL,24901 S POWER RD,QUEEN CREEK,AZ,85142,8428,...,IMAGERY/OTHER,2018/10/24 00:00:00+00,NOT AVAILABLE,HIGH,3101,7,12,401870,149,NOT AVAILABLE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101683,1.611973e+07,1514482.859,101684,6.600000e+11,GUAHAN ACADEMY CHARTER SCHOOL,BUILDINGS C & D MARINER AVENUE,BARRIGADA,GU,96913,NOT AVAILABLE,...,IMAGERY/OTHER,2021/05/09 00:00:00+00,NOT AVAILABLE,OTHER,-999,KG,12,6600004,-999,NOT AVAILABLE
101684,1.612110e+07,1521270.610,101685,6.600010e+11,ILEARN ACADEMY CHARTER SCHOOL,UKUDU VILLAGE RT. 3,DEDEDO,GU,96929,NOT AVAILABLE,...,IMAGERY/OTHER,2021/05/09 00:00:00+00,NOT AVAILABLE,ELEMENTARY,-999,KG,5,6600005,-999,NOT AVAILABLE
101685,-7.453411e+06,2079047.655,101686,7.200030e+11,EMILIO SCHARON RODRIGUEZ,CARR. 111 KM.1.9 BO.HOYAMALA,SAN SEBASTIAN,PR,685,NOT AVAILABLE,...,IMAGERY/OTHER,2021/05/09 00:00:00+00,NOT AVAILABLE,ELEMENTARY,355,KG,8,7200030,34,NOT AVAILABLE
101686,-7.349742e+06,2085641.119,101687,7.200030e+11,ESCUELA PUBLICA ALIANZA VIMENTI SCHOOL,SECTOR VILLA PRADES CALLE ANA OTERO FINAL,SAN JUAN,PR,928,NOT AVAILABLE,...,IMAGERY/OTHER,2021/05/09 00:00:00+00,NOT AVAILABLE,ELEMENTARY,90,KG,2,7200030,1,NOT AVAILABLE
101687,-7.354107e+06,2033654.514,101688,7.200030e+11,CARMEN BOZELLO DE HUYKE,FRENTE CASERIO ISIDRO CORA,ARROYO,PR,714,NOT AVAILABLE,...,IMAGERY/OTHER,2021/05/09 00:00:00+00,NOT AVAILABLE,ELEMENTARY,406,PK,8,7200030,26,NOT AVAILABLE

In [4]:
#Checking shape of school df. 
school_data.shape

(101688, 33)

In [5]:
# Checking for null values 

school_data.isnull().sum()

X             0
Y             0
OBJECTID      0
NCESID        0
NAME          0
ADDRESS       3
CITY          0
STATE         0
ZIP           0
ZIP4          0
TELEPHONE     0
TYPE          0
STATUS        0
POPULATION    0
COUNTY        0
COUNTYFIPS    0
COUNTRY       0
LATITUDE      0
LONGITUDE     0
NAICS_CODE    0
NAICS_DESC    0
SOURCE        0
SOURCEDATE    0
VAL_METHOD    0
VAL_DATE      0
WEBSITE       0
LEVEL_        0
ENROLLMENT    0
ST_GRADE      0
END_GRADE     0
DISTRICTID    0
FT_TEACHER    0
SHELTER_ID    0
dtype: int64

In [6]:
# Dropping null values 

school_data.dropna().shape

(101685, 33)

In [7]:
# Checking for Unique values in "State" column. We might have international schools in the dataset. 

print(school_data["STATE"].unique())

['IL' 'NC' 'IN' 'AZ' 'CA' 'DC' 'FL' 'ID' 'KY' 'KS' 'LA' 'MD' 'MI' 'MN'
 'NH' 'NJ' 'OK' 'TX' 'UT' 'IA' 'OH' 'MS' 'MO' 'SD' 'NM' 'AL' 'PR' 'GU'
 'AK' 'AR' 'TN' 'WA' 'OR' 'MT' 'ND' 'MA' 'NE' 'WY' 'NV' 'NY' 'PA' 'SC'
 'WV' 'WI' 'VA' 'CO' 'DE' 'RI' 'GA' 'CT' 'ME' 'VT' 'HI' 'VI' 'AS']

In [8]:
# Defining list of states 
states = ["PR","GU","HI","VI","AS"]

In [9]:
# Removing international schools from dataset. PR (Puerto Rico), GU (Guam), HI (Hawaii), VI (Virgin Islands), AS (American Samoa) 

clean_schools_df = school_data[school_data.STATE.isin(states) == False]
clean_schools_df

,X,Y,OBJECTID,NCESID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,VAL_METHOD,VAL_DATE,WEBSITE,LEVEL_,ENROLLMENT,ST_GRADE,END_GRADE,DISTRICTID,FT_TEACHER,SHELTER_ID
0,-9.844095e+06,5230976.133,1,1.703300e+11,ALDEN-HEBRON HIGH SCHOOL,9604 ILLINOIS ST,HEBRON,IL,60034,9618,...,IMAGERY/OTHER,2010/08/27 00:00:00+00,NOT AVAILABLE,HIGH,95,9,12,1703300,11,NOT AVAILABLE
1,-9.007027e+06,4195441.532,2,3.702970e+11,WESTERLY HILLS ACADEMY,4420 DENVER AVE,CHARLOTTE,NC,28208,3699,...,IMAGERY/OTHER,2016/08/22 00:00:00+00,http://schools.cms.k12.nc.us/westerlyhillsES,ELEMENTARY,491,PK,5,3702970,29,NOT AVAILABLE
2,-9.580426e+06,4792069.206,3,1.803690e+11,NORTHWOOD ELEMENTARY SCHOOL,965 GRIZZLY CUB DR,FRANKLIN,IN,46131,1364,...,IMAGERY/OTHER,2010/08/02 00:00:00+00,NOT AVAILABLE,ELEMENTARY,480,PK,4,1803690,25,NOT AVAILABLE
3,-1.243297e+07,3927587.870,4,4.018700e+10,DR. GARY AND ANNETTE AUXIER ELEMENTARY SCHOOL,22700 S POWER RD,QUEEN CREEK,AZ,85142,4507,...,IMAGERY/OTHER,2018/10/24 00:00:00+00,NOT AVAILABLE,ELEMENTARY,953,PK,6,401870,53,NOT AVAILABLE
4,-1.243258e+07,3924830.599,5,4.018700e+10,DR. CAMILLE CASTEEL HIGH SCHOOL,24901 S POWER RD,QUEEN CREEK,AZ,85142,8428,...,IMAGERY/OTHER,2018/10/24 00:00:00+00,NOT AVAILABLE,HIGH,3101,7,12,401870,149,NOT AVAILABLE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101676,-9.820967e+06,5314532.620,101677,5.515780e+11,WHITE ROCK SCHOOL,1150 WHITEROCK AVE,WAUKESHA,WI,53186,4101,...,IMAGERY/OTHER,2021/05/09 00:00:00+00,http://www.waukesha.k12.wi.us,ELEMENTARY,203,PK,8,5515780,14,NOT AVAILABLE
101677,-9.823697e+06,5315933.440,101678,5.515780e+11,HAWTHORNE ELEMENTARY,1111MAITLAND DR,WAUKESHA,WI,53188,2361,...,IMAGERY/OTHER,2021/05/09 00:00:00+00,http://www.waukesha.k12.wi.us,ELEMENTARY,428,PK,5,5515780,36,NOT AVAILABLE
101678,-9.881268e+06,5646079.505,101679,5.516590e+11,WHITE LAKE MIDDLE,405 BISSELL ST,WHITE LAKE,WI,54491,NOT AVAILABLE,...,IMAGERY/OTHER,2021/05/09 00:00:00+00,http://www.whitelake.k12.wi.us,MIDDLE,19,7,8,5516590,2,NOT AVAILABLE
101679,-1.218621e+07,5087882.236,101680,5.605760e+11,MONROE ELEMENTARY SCHOOL,250 MONROE AVENUE,GREEN RIVER,WY,82935,NOT AVAILABLE,...,IMAGERY/OTHER,2021/05/09 00:00:00+00,http://www.swcsd2.org,ELEMENTARY,327,KG,5,5605762,25,NOT AVAILABLE
101680,-1.232789e+07,5368482.270,101681,5.605830e+11,MUNGER MOUNTAIN ELEMENTARY SCHOOL,7605 SOUTH HIGHWAY 89,JACKSON,WY,83001,NOT AVAILABLE,...,IMAGERY/OTHER,2021/05/09 00:00:00+00,http://www.tcsd.org/9/home,ELEMENTARY,457,KG,5,5605830,38,NOT AVAILABLE

In [10]:
clean_schools_df.shape

(100447, 33)

In [11]:
# Checking column names to see which we should keep for future use. 
clean_schools_df.columns

Index(['X', 'Y', 'OBJECTID', 'NCESID', 'NAME', 'ADDRESS', 'CITY', 'STATE',
       'ZIP', 'ZIP4', 'TELEPHONE', 'TYPE', 'STATUS', 'POPULATION', 'COUNTY',
       'COUNTYFIPS', 'COUNTRY', 'LATITUDE', 'LONGITUDE', 'NAICS_CODE',
       'NAICS_DESC', 'SOURCE', 'SOURCEDATE', 'VAL_METHOD', 'VAL_DATE',
       'WEBSITE', 'LEVEL_', 'ENROLLMENT', 'ST_GRADE', 'END_GRADE',
       'DISTRICTID', 'FT_TEACHER', 'SHELTER_ID'],
      dtype='object')

In [12]:
# Exporting school csv 

# Create the output file (CSV).
output_data_file = "clean_schools_df"
# Export the City_Data into a CSV.
clean_schools_df.to_csv("cleaned_schools.csv", index=False)

<h1>Housing Data DF</h1>

In [13]:
housing_values

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1/31/2000,...,12/31/2021,1/31/2022,2/28/2022,3/31/2022,4/30/2022,5/31/2022,6/30/2022,7/31/2022,8/31/2022,9/30/2022
0,91940,0,77449,zip,TX,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Harris County,106672.0,...,251930.0,255861.0,260506.0,266174.0,272442.0,278528.0,283555.0,286948.0,288863.0,289504.0
1,91982,1,77494,zip,TX,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,223357.0,...,439209.0,445272.0,454755.0,466373.0,480063.0,491447.0,498934.0,501198.0,499334.0,499877.0
2,93144,2,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,90482.0,...,174265.0,176277.0,178252.0,180407.0,183773.0,187384.0,190834.0,193074.0,194779.0,196166.0
3,62080,3,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,187749.0,...,571191.0,569363.0,569160.0,571091.0,572605.0,575407.0,577640.0,579764.0,580707.0,583489.0
4,62093,4,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,275753.0,...,744928.0,748113.0,751397.0,757101.0,759701.0,765523.0,770799.0,775959.0,778630.0,781713.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27398,80190,30657,50160,zip,IA,IA,Martensdale,"Des Moines-West Des Moines, IA",Warren County,NaN,...,172619.0,177207.0,180642.0,181673.0,182667.0,183878.0,186505.0,188397.0,189957.0,191806.0
27399,65355,30657,18081,zip,PA,PA,Hellertown,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",Bucks County,NaN,...,356372.0,357179.0,359712.0,365315.0,371752.0,375716.0,376034.0,375016.0,373013.0,372448.0
27400,80581,30657,51009,zip,IA,IA,Calumet,NaN,O Brien County,NaN,...,70977.0,71380.0,72304.0,72849.0,73075.0,73280.0,74267.0,75089.0,75446.0,75122.0
27401,82217,30657,55366,zip,MN,MN,NaN,NaN,Sibley County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108060.0,108133.0
27402,65172,30657,17762,zip,PA,PA,Hughesville,"Williamsport, PA",Lycoming County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,144739.0

In [14]:
# Checking Shape

housing_values.shape

(27403, 282)

In [15]:
# Checking for null values 

housing_values.isnull().sum()

RegionID        0
SizeRank        0
RegionName      0
RegionType      0
StateName       0
             ...
5/31/2022     201
6/30/2022     139
7/31/2022      98
8/31/2022      59
9/30/2022       5
Length: 282, dtype: int64

In [21]:
# Dropping null values

cleaned_housing_df = housing_values.dropna()

In [22]:
# Might have to re-evaluate dropping nas and instead fill them so we keep a majority of our data. 
cleaned_housing_df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1/31/2000,...,12/31/2021,1/31/2022,2/28/2022,3/31/2022,4/30/2022,5/31/2022,6/30/2022,7/31/2022,8/31/2022,9/30/2022
2,93144,2,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,90482.0,...,174265.0,176277.0,178252.0,180407.0,183773.0,187384.0,190834.0,193074.0,194779.0,196166.0
3,62080,3,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,187749.0,...,571191.0,569363.0,569160.0,571091.0,572605.0,575407.0,577640.0,579764.0,580707.0,583489.0
4,62093,4,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,275753.0,...,744928.0,748113.0,751397.0,757101.0,759701.0,765523.0,770799.0,775959.0,778630.0,781713.0
6,84630,6,60629,zip,IL,IL,Chicago,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,134815.0,...,250979.0,254203.0,256125.0,257985.0,259968.0,263482.0,265884.0,266766.0,266268.0,266278.0
7,91733,7,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,106287.0,...,248717.0,252136.0,256277.0,261510.0,267272.0,272762.0,277137.0,280034.0,281687.0,282383.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27372,90369,30657,74358,zip,OK,OK,North Miami,"Miami, OK",Ottawa County,26583.0,...,41675.0,42205.0,42815.0,42868.0,43142.0,43652.0,45205.0,46676.0,48058.0,48287.0
27373,63527,30657,14441,zip,NY,NY,Dresden,"Rochester, NY",Yates County,82982.0,...,164690.0,168211.0,171242.0,171390.0,171664.0,172311.0,173965.0,175844.0,177745.0,178578.0
27378,73063,30657,34250,zip,FL,FL,Terra Ceia,"North Port-Sarasota-Bradenton, FL",Manatee County,228842.0,...,736565.0,754227.0,777241.0,800957.0,820226.0,839684.0,861359.0,880203.0,881531.0,872754.0
27379,72882,30657,33877,zip,FL,FL,Winter Haven,"Lakeland-Winter Haven, FL",Polk County,76726.0,...,146580.0,149967.0,152231.0,153959.0,156005.0,159150.0,164219.0,168986.0,171100.0,170586.0
27380,62607,30657,12489,zip,NY,NY,Wawarsing,"Kingston, NY",Ulster County,53888.0,...,227862.0,230883.0,232527.0,234320.0,234184.0,234088.0,234284.0,231960.0,228745.0,223231.0

In [23]:
# Exporting school csv 

# Create the output file (CSV).
output_data_file = "cleaned_housing_df"
# Export the City_Data into a CSV.
cleaned_housing_df.to_csv("cleaned_housing.csv", index=False)