In [15]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [16]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [17]:
# Importing csv  

kc_house_data = pd.read_csv('kc_house_data.csv')
kc_house_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [18]:
kc_house_data["price"].unique

<bound method Series.unique of 0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21613, dtype: float64>

In [19]:
cleaned_house_data = kc_house_data.drop(['id', 'date', 'waterfront', 'view', 'sqft_living15', 'sqft_lot15'], axis=1)
cleaned_house_data.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long
0,221900.0,3,1.00,1180,5650,1.0,3,7,1180,0,1955,0,98178,47.5112,-122.257
1,538000.0,3,2.25,2570,7242,2.0,3,7,2170,400,1951,1991,98125,47.7210,-122.319
2,180000.0,2,1.00,770,10000,1.0,3,6,770,0,1933,0,98028,47.7379,-122.233
3,604000.0,4,3.00,1960,5000,1.0,5,7,1050,910,1965,0,98136,47.5208,-122.393
4,510000.0,3,2.00,1680,8080,1.0,3,8,1680,0,1987,0,98074,47.6168,-122.045

In [20]:
cleaned_house_data.to_csv("cleaned_house_data.csv", index=False)

In [21]:
columns = ["bedrooms", "bathrooms", "sqft_living", "sqft_lot", "floors", "condition", "grade", "sqft_above", "sqft_basement",
           "yr_built", "yr_renovated", "zipcode", "lat", "long"]
target = ["price"]

In [22]:
# Create our features
X = cleaned_house_data.drop(columns='price')
# Create our target
y = cleaned_house_data.loc[:, target].copy()

In [23]:
X.describe()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long
count,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896
std,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828
min,0.000000,0.000000,290.000000,5.200000e+02,1.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000
25%,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000
50%,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000
75%,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000
max,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000

In [24]:
y.value_counts()

price
350000.0     172
450000.0     172
550000.0     159
500000.0     152
425000.0     150
            ...
427550.0       1
427800.0       1
427874.0       1
428040.0       1
7700000.0      1
Length: 3625, dtype: int64

In [25]:
pip install imbalanced-learn==0.9.0

Requirement already satisfied: imbalanced-learn==0.9.0 in /Users/johannahdelunas/opt/anaconda3/lib/python3.9/site-packages (0.9.0)
Requirement already satisfied: scipy>=1.1.0 in /Users/johannahdelunas/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn==0.9.0) (1.7.3)
Requirement already satisfied: numpy>=1.14.6 in /Users/johannahdelunas/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn==0.9.0) (1.21.5)
Requirement already satisfied: joblib>=0.11 in /Users/johannahdelunas/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn==0.9.0) (1.1.0)
Requirement already satisfied: scikit-learn>=1.0.1 in /Users/johannahdelunas/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn==0.9.0) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/johannahdelunas/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn==0.9.0) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [26]:
pip install scikit-learn==1.0.2

Requirement already satisfied: scikit-learn==1.0.2 in /Users/johannahdelunas/opt/anaconda3/lib/python3.9/site-packages (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/johannahdelunas/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn==1.0.2) (2.2.0)
Requirement already satisfied: numpy>=1.14.6 in /Users/johannahdelunas/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn==1.0.2) (1.21.5)
Requirement already satisfied: joblib>=0.11 in /Users/johannahdelunas/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn==1.0.2) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in /Users/johannahdelunas/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn==1.0.2) (1.7.3)
Note: you may need to restart the kernel to use updated packages.

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [28]:
from imblearn.ensemble import BalancedRandomForestClassifier
rf_model = BalancedRandomForestClassifier(n_estimators=100, random_state=1) 
rf_model.fit(X_train, y_train)

/var/folders/3y/sg53g9yx2l152vz_g8dwv8p00000gn/T/ipykernel_46419/321774333.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf_model.fit(X_train, y_train)

BalancedRandomForestClassifier(random_state=1)

In [29]:
y_pred = rf_model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

/Users/johannahdelunas/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1987: UserWarning: y_pred contains classes not in y_true
  warnings.warn("y_pred contains classes not in y_true")

0.0021683422038241674