In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import seaborn as sns 
import matplotlib 
import matplotlib.pyplot as plt

In [2]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [3]:
# Importing csv  

kc_house_data = pd.read_csv('merged_df.csv')
kc_house_data.head()

C:\Users\tmam9\Anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (3,4,5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,RegionID,SizeRank,ZIP,RegionType,State,City,Metro,CountyName,Housing Value,OBJECTID,...,VAL_METHOD,VAL_DATE,WEBSITE,LEVEL_,ENROLLMENT,ST_GRADE,END_GRADE,DISTRICTID,FT_TEACHER,SHELTER_ID
0,93144.0,2.0,79936,zip,TX,El Paso,"El Paso, TX",El Paso County,196166.0,376.0,...,IMAGERY,2018/10/24 00:00:00+00,http://www.sisd.net,ELEMENTARY,724.0,PK,5,4840710.0,43.0,NOT AVAILABLE
1,93144.0,2.0,79936,zip,TX,El Paso,"El Paso, TX",El Paso County,196166.0,15972.0,...,IMAGERY,2010/04/12 00:00:00+00,http://relwash.yisd.net,ELEMENTARY,603.0,PK,6,4846680.0,39.0,NOT AVAILABLE
2,93144.0,2.0,79936,zip,TX,El Paso,"El Paso, TX",El Paso County,196166.0,20044.0,...,IMAGERY,2010/04/06 00:00:00+00,http://www.sisd.net,MIDDLE,988.0,6,8,4840710.0,63.0,NOT AVAILABLE
3,93144.0,2.0,79936,zip,TX,El Paso,"El Paso, TX",El Paso County,196166.0,29096.0,...,IMAGERY/OTHER,2019/01/14 00:00:00+00,http://pebblehills.yisd.net,ELEMENTARY,690.0,PK,5,4846680.0,47.0,NOT AVAILABLE
4,93144.0,2.0,79936,zip,TX,El Paso,"El Paso, TX",El Paso County,196166.0,29462.0,...,IMAGERY,2010/04/15 00:00:00+00,http://tierradelsol.yisd.net,ELEMENTARY,698.0,PK,6,4846680.0,45.0,NOT AVAILABLE

In [4]:
#Checking for Datatypes
kc_house_data.dtypes

RegionID         float64
SizeRank         float64
ZIP                int64
RegionType        object
State             object
City              object
Metro             object
CountyName        object
Housing Value    float64
OBJECTID         float64
NCESID           float64
NAME              object
ADDRESS           object
CITY              object
STATE             object
ZIP4              object
TELEPHONE         object
TYPE             float64
STATUS           float64
POPULATION       float64
COUNTY            object
COUNTYFIPS       float64
COUNTRY           object
LATITUDE         float64
LONGITUDE        float64
NAICS_CODE       float64
NAICS_DESC        object
SOURCE            object
SOURCEDATE        object
VAL_METHOD        object
VAL_DATE          object
WEBSITE           object
LEVEL_            object
ENROLLMENT       float64
ST_GRADE          object
END_GRADE         object
DISTRICTID       float64
FT_TEACHER       float64
SHELTER_ID        object
dtype: object

In [5]:
#Finding Min/Max of price 
kc_house_data.min()

C:\Users\tmam9\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

RegionID         5.819600e+04
SizeRank         2.000000e+00
ZIP              1.001000e+03
Housing Value    2.632200e+04
OBJECTID         1.000000e+00
NCESID           1.000050e+10
TYPE             1.000000e+00
STATUS           1.000000e+00
POPULATION      -9.990000e+02
COUNTYFIPS       1.001000e+03
LATITUDE         2.455323e+01
LONGITUDE       -1.766399e+02
NAICS_CODE       6.111100e+05
ENROLLMENT      -9.990000e+02
DISTRICTID       1.000050e+05
FT_TEACHER      -9.990000e+02
dtype: float64

In [6]:
x = kc_house_data.price
sns.set_style('whitegrid')
sns.distplot(x)
plt.show()

AttributeError: 'DataFrame' object has no attribute 'price'

In [ ]:
kc_house_data['price_log'] = np.log(kc_house_data.price)
x = kc_house_data.price_log
sns.distplot(x)
plt.show()

# Linear Regression #

In [ ]:
new_df = kc_house_data[['price', 'price_log','sqft_living', 'floors', 'waterfront', 'view', 'yr_renovated']]

In [ ]:
columns = ['sqft_living', 'floors', 'waterfront', 'view', 'yr_renovated']

target = ['price_log']

In [ ]:
# Create our features
X = new_df.drop(columns=['price', 'price_log'])
# Create our target
#y = cleaned_house_data.loc[:, target].copy()
y = new_df['price_log']

In [ ]:
X.describe()

In [ ]:
#Checking the balance of our target values 
y.value_counts()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

In [ ]:
model.score(X_train, y_train)

In [ ]:
model.score(X_test, y_test)